image: asciidoctor/docker-asciidoctor

stages:
  - build
  - package
  - publish
  - publish_ext

# per document-type job templates
.build_template_html: &build_template_html
  stage: build
  script:
    - apk add --no-cache python3 py3-pip
    - python3 tools/create_docu.py -l=$LANGUAGE -o=html -s=opsi -f=$DOCUMENT
    - test -f build/html/$LANGUAGE/$DOCUMENT/$DOCUMENT.html
  artifacts:
    paths:
      - build/html/$LANGUAGE/$DOCUMENT/*
    expire_in: 2 days

.build_template_epub: &build_template_epub
  stage: build
  script:
    - apk add graphicsmagick-dev ruby-dev musl-dev gcc
    - gem install prawn-gmagick
    - apk add --no-cache python3 py3-pip
    - python3 tools/create_docu.py -l=$LANGUAGE -o=epub -f=$DOCUMENT
    - test -f build/epub/$LANGUAGE/$DOCUMENT/$DOCUMENT.epub
  artifacts:
    paths:
      - build/epub/$LANGUAGE/$DOCUMENT/$DOCUMENT.epub
    expire_in: 2 days

.build_template_pdf: &build_template_pdf
  stage: build
  script:
    - apk add graphicsmagick-dev ruby-dev musl-dev gcc
    - gem install prawn-gmagick
    - apk add --no-cache python3 py3-pip
    - python3 tools/create_docu.py -l=$LANGUAGE -o=pdf -t=opsi -f=$DOCUMENT
    - test -f build/pdf/$LANGUAGE/$DOCUMENT/$DOCUMENT.pdf
  artifacts:
    paths:
      - build/pdf/$LANGUAGE/$DOCUMENT/$DOCUMENT.pdf
    expire_in: 2 days


# - HTML build jobs -
de-html-getting-started-v4.1:
  <<: *build_template_html
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-getting-started-v4.1

en-html-getting-started-v4.1:
  <<: *build_template_html
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-getting-started-v4.1

de-html-manual-v4.1:
  <<: *build_template_html
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-manual-v4.1

en-html-manual-v4.1:
  <<: *build_template_html
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-manual-v4.1

de-html-winst-manual:
  <<: *build_template_html
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-winst-manual

en-html-winst-manual:
  <<: *build_template_html
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-winst-manual

en-html-winst-reference-card:
  <<: *build_template_html
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-winst-reference-card

de-html-supportmatrix:
  <<: *build_template_html
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-supportmatrix

en-html-supportmatrix:
  <<: *build_template_html
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-supportmatrix

de-html-mac-client-manual:
  <<: *build_template_html
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-mac-client-manual

en-html-mac-client-manual:
  <<: *build_template_html
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-mac-client-manual

#de-html-linux-client-manual:
#  <<: *build_template_html
#  variables:
#    LANGUAGE: de
#    DOCUMENT: opsi-linux-client-manual

#en-html-linux-client-manual:
#  <<: *build_template_html
#  variables:
#    LANGUAGE: en
#    DOCUMENT: opsi-linux-client-manual

#de-html-windows-client-manual:
#  <<: *build_template_html
#  variables:
#    LANGUAGE: de
#    DOCUMENT: opsi-windows-client-manual

#en-html-windows-client-manual:
#  <<: *build_template_html
#  variables:
#    LANGUAGE: en
#    DOCUMENT: opsi-windows-client-manual

# - epub build jobs -
de-epub-getting-started-v4.1:
  <<: *build_template_epub
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-getting-started-v4.1

en-epub-getting-started-v4.1:
  <<: *build_template_epub
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-getting-started-v4.1

de-epub-manual-v4.1:
  <<: *build_template_epub
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-manual-v4.1

en-epub-manual-v4.1:
  <<: *build_template_epub
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-manual-v4.1

de-epub-winst-manual:
  <<: *build_template_epub
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-winst-manual

en-epub-winst-manual:
  <<: *build_template_epub
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-winst-manual

en-epub-winst-reference-card:
  <<: *build_template_epub
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-winst-reference-card

de-epub-supportmatrix:
  <<: *build_template_epub
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-supportmatrix

en-epub-supportmatrix:
  <<: *build_template_epub
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-supportmatrix

de-epub-mac-client-manual:
  <<: *build_template_epub
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-mac-client-manual

en-epub-mac-client-manual:
  <<: *build_template_epub
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-mac-client-manual

#de-epub-linux-client-manual:
#  <<: *build_template_epub
#  variables:
#    LANGUAGE: de
#    DOCUMENT: opsi-linux-client-manual

#en-epub-linux-client-manual:
#  <<: *build_template_epub
#  variables:
#    LANGUAGE: en
#    DOCUMENT: opsi-linux-client-manual

#de-epub-windows-client-manual:
#  <<: *build_template_epub
#  variables:
#    LANGUAGE: de
#    DOCUMENT: opsi-windows-client-manual

#en-epub-windows-client-manual:
#  <<: *build_template_epub
#  variables:
#    LANGUAGE: en
#    DOCUMENT: opsi-windows-client-manual

# - pdf build jobs -
de-pdf-getting-started-v4.1:
  <<: *build_template_pdf
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-getting-started-v4.1

en-pdf-getting-started-v4.1:
  <<: *build_template_pdf
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-getting-started-v4.1

de-pdf-manual-v4.1:
  <<: *build_template_pdf
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-manual-v4.1

en-pdf-manual-v4.1:
  <<: *build_template_pdf
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-manual-v4.1

de-pdf-winst-manual:
  <<: *build_template_pdf
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-winst-manual

en-pdf-winst-manual:
  <<: *build_template_pdf
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-winst-manual

en-pdf-winst-reference-card:
  <<: *build_template_pdf
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-winst-reference-card

de-pdf-supportmatrix:
  <<: *build_template_pdf
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-supportmatrix

en-pdf-supportmatrix:
  <<: *build_template_pdf
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-supportmatrix

de-pdf-mac-client-manual:
  <<: *build_template_pdf
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-mac-client-manual

en-pdf-mac-client-manual:
  <<: *build_template_pdf
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-mac-client-manual

#de-pdf-linux-client-manual:
#  <<: *build_template_pdf
#  variables:
#    LANGUAGE: de
#    DOCUMENT: opsi-linux-client-manual

#en-pdf-linux-client-manual:
#  <<: *build_template_pdf
#  variables:
#    LANGUAGE: en
#    DOCUMENT: opsi-linux-client-manual

#de-pdf-windows-client-manual:
#  <<: *build_template_pdf
#  variables:
#    LANGUAGE: de
#    DOCUMENT: opsi-windows-client-manual

#en-pdf-windows-client-manual:
#  <<: *build_template_pdf
#  variables:
#    LANGUAGE: en
#    DOCUMENT: opsi-windows-client-manual

# Packaging and renaming of documents
package_docs:
  stage: package
  before_script:
    - apk add --no-cache python3
  script:
    - make publish
  artifacts:
    paths:
      - pub/
    expire_in: 7 days
  only:
    - stable


# Publishing documentation to internal server
publish_docs:
  stage: publish
  before_script:
    - 'which ssh-agent || (apk --update add openssh-client)'
    - mkdir -p ~/.ssh
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$DOCUSER_PRIVATE_KEY")
  script:
    - scp -o StrictHostKeyChecking=no -r pub/* "$DOCUSER@$DOCSERVER:/home/opsi/doc/opsidoc/git-stable/"
  only:
    - stable

# Publishing documentation to external server
publish_docs_ext:
  stage: publish_ext
  when: manual
  before_script:
    - 'which ssh-agent || (apk --update add openssh-client)'
    - mkdir -p ~/.ssh
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$DOCUSER_PRIVATE_KEY")
  script:
    - scp -o StrictHostKeyChecking=no -r pub/* "$DOCUSER_EXT@$DOCSERVER_EXT:/var/www/opsi/htdocs/opsi4.1/$DOCTARGET/documentation/"
  only:
    - stable
