# image: docker.uib.gmbh/opsi/opsidoc-asciidoctor:latest
image: docker.uib.gmbh/fabian/opsidoc-antora:latest

stages:
  - build
  - package
  - publish
  - publish_ext

# per document-type job templates
# .build_template_html: &build_template_html
#   stage: build
#   script:
#     - python3 tools/create_docu.py -l=$LANGUAGE -o=html -s=opsi -f=$DOCUMENT
#     - test -f build/html/$LANGUAGE/$DOCUMENT/$DOCUMENT.html
#   artifacts:
#     paths:
#       - build/html/$LANGUAGE/$DOCUMENT/*
#     expire_in: 2 days


# .build_template_epub: &build_template_epub
#   stage: build
#   script:
#     - python3 tools/create_docu.py -l=$LANGUAGE -o=epub -f=$DOCUMENT
#     - test -f build/epub/$LANGUAGE/$DOCUMENT/$DOCUMENT.epub
#   artifacts:
#     paths:
#       - build/epub/$LANGUAGE/$DOCUMENT/$DOCUMENT.epub
#     expire_in: 2 days

# .build_template_pdf: &build_template_pdf
#   stage: build
#   script:
#     - python3 tools/create_docu.py -l=$LANGUAGE -o=pdf -t=opsi -f=$DOCUMENT
#     - test -f build/pdf/$LANGUAGE/$DOCUMENT/$DOCUMENT.pdf
#   artifacts:
#     paths:
#       - build/pdf/$LANGUAGE/$DOCUMENT/$DOCUMENT.pdf
#     expire_in: 2 days

.install_toolchain: &install_toolchain
  sudo apt update
  sudo apt install -y curl git
  curl -fsSL https://deb.nodesource.com/setup_16.x | bash -
  sudo apt update
  sudo apt install -y nodejs
  sudo apt install -y build-essential
  pwd
  ls
  git --version
  npm config set fetch-retry-mintimeout 20000
  npm config set fetch-retry-maxtimeout 120000
  npm install
  npm install asciidoctor-interdoc-reftext
  gem install asciidoctor-interdoc-reftext
  gem install rouge
  npm install

  # Antora-UI
  cd antora-ui
  sudo npm install -g gulp-cli
  npm install

.build_template: &build_template
  stage: build
  script:
    - *install_toolchain
    - if [[ "${DOCUMENT}" == "opsi"* ]]; then
    -   test -f build/pdf/$LANGUAGE/$DOCUMENT/$DOCUMENT.pdf
    -   test -f build/html/$LANGUAGE/$DOCUMENT/$DOCUMENT.html
    - else
    -   test -f build/pdf/$LANGUAGE/opsi-$DOCUMENT/opsi-$DOCUMENT.pdf
    -   test -f build/html/$LANGUAGE/opsi-$DOCUMENT/opsi-$DOCUMENT.html
    - fi
  artifacts:
    paths:
      - build/pdf/$LANGUAGE/opsi-$DOCUMENT/opsi-$DOCUMENT.pdf
      - build/html/$LANGUAGE/opsi-$DOCUMENT/opsi-$DOCUMENT.html
      - build/pdf/$LANGUAGE/$DOCUMENT/$DOCUMENT.pdf
      - build/html/$LANGUAGE/$DOCUMENT/$DOCUMENT.html
    expire_in: 2 days


build-antora-bonifax:
  stage: build
  script:
    - *install_toolchain
    - cd antora-ui
    - gulp bundle:pack
    - cd ..
    - npx antora -v
    - npx antora --log-level=debug bonifax-playbook.yml
  artifacts:
    paths:
      - build/bonifax/site
    expire_in: 2 days

build-antora:
  stage: build
  script:
    - *install_toolchain
    - cd antora-ui
    - gulp bundle:pack
    - cd ..
    - npx antora -v
    - npx antora --log-level=debug antora-playbook.yml
  artifacts:
    paths:
      - build/docs-opsi-org/site
    expire_in: 2 days


# - HTML build jobs -
de-getting-started:
  <<: *build_template
  variables:
    LANGUAGE: de
    DOCUMENT: getting-started

en-getting-started:
  <<: *build_template
  variables:
    LANGUAGE: en
    DOCUMENT: getting-started

de-manual:
  <<: *build_template
  variables:
    LANGUAGE: de
    DOCUMENT: manual

en-manual:
  <<: *build_template
  variables:
    LANGUAGE: en
    DOCUMENT: manual

de-script-manual:
  <<: *build_template
  variables:
    LANGUAGE: de
    DOCUMENT: opsi-script-manual

en-script-manual:
  <<: *build_template
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-script-manual

de-releasenotes:
  <<: *build_template
  variables:
    LANGUAGE: de
    DOCUMENT: releasenotes

en-releasenotes:
  <<: *build_template
  variables:
    LANGUAGE: en
    DOCUMENT: releasenotes

de-macos-client-manual:
  <<: *build_template
  variables:
    LANGUAGE: de
    DOCUMENT: macos-client-manual

en-macos-client-manual:
  <<: *build_template
  variables:
    LANGUAGE: en
    DOCUMENT: macos-client-manual

de-windows-client-manual:
  <<: *build_template
  variables:
    LANGUAGE: de
    DOCUMENT: windows-client-manual

de-linux-client-manual:
  <<: *build_template
  variables:
    LANGUAGE: de
    DOCUMENT: linux-client-manual

en-windows-client-manual:
  <<: *build_template
  variables:
    LANGUAGE: en
    DOCUMENT: windows-client-manual

en-linux-client-manual:
  <<: *build_template
  variables:
    LANGUAGE: en
    DOCUMENT: linux-client-manual

de-quickinstall:
  <<: *build_template
  variables:
    LANGUAGE: de
    DOCUMENT: quickinstall

en-quickinstall:
  <<: *build_template
  variables:
    LANGUAGE: en
    DOCUMENT: quickinstall

de-supportmatrix:
  <<: *build_template
  variables:
    LANGUAGE: de
    DOCUMENT: supportmatrix

en-supportmatrix:
  <<: *build_template
  variables:
    LANGUAGE: en
    DOCUMENT: supportmatrix

en-opsi-script-reference-card:
  <<: *build_template
  variables:
    LANGUAGE: en
    DOCUMENT: opsi-script-reference-card

# - HTML build jobs -
# de-html-getting-started-v4.2:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-getting-started-v4.2

# en-html-getting-started-v4.2:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-getting-started-v4.2

# de-html-manual-v4.2:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-manual-v4.2

# en-html-manual-v4.2:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-manual-v4.2

# de-html-script-manual:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-script-manual

# de-html-quickinstall-manual:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-quickinstall-manual

# en-html-script-manual:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-script-manual

# en-html-script-reference-card:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-script-reference-card

# de-html-releasenotes-v4.2:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-v4.2-releasenotes

# en-html-releasenotes-v4.2:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-v4.2-releasenotes
# de-html-supportmatrix:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-supportmatrix

# en-html-supportmatrix:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-supportmatrix

# de-html-mac-client-manual:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-mac-client-manual

# en-html-mac-client-manual:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-mac-client-manual


# en-html-linux-client-manual:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-linux-client-manual

# en-html-windows-client-manual:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-windows-client-manual

# de-html-quickinstall-manual:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-quickinstall-manual

# en-html-quickinstall-manual:
#   <<: *build_template_html
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-quickinstall-manual

# # - epub build jobs -
# de-epub-getting-started-v4.2:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-getting-started-v4.2

# en-epub-getting-started-v4.2:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-getting-started-v4.2

# de-epub-manual-v4.2:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-manual-v4.2

# en-epub-manual-v4.2:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-manual-v4.2

# de-epub-script-manual:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-script-manual

# en-epub-script-manual:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-script-manual

# en-epub-script-reference-card:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-script-reference-card

# de-epub-releasenotes-v4.2:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-v4.2-releasenotes

# en-epub-releasenotes-v4.2:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-v4.2-releasenotes

# de-epub-supportmatrix:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-supportmatrix

# en-epub-supportmatrix:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-supportmatrix

# de-epub-mac-client-manual:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-mac-client-manual

# en-epub-mac-client-manual:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-mac-client-manual

#de-epub-linux-client-manual:
#  <<: *build_template_epub
#  variables:
#    LANGUAGE: de
#    DOCUMENT: opsi-linux-client-manual

#en-epub-linux-client-manual:
#  <<: *build_template_epub
#  variables:
#    LANGUAGE: en
#    DOCUMENT: opsi-linux-client-manual

#de-epub-windows-client-manual:
#  <<: *build_template_epub
#  variables:
#    LANGUAGE: de
#    DOCUMENT: opsi-windows-client-manual

#en-epub-windows-client-manual:
#  <<: *build_template_epub
#  variables:
#    LANGUAGE: en
#    DOCUMENT: opsi-windows-client-manual

# de-epub-quickinstall-manual:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-quickinstall-manual

# en-epub-quickinstall-manual:
#   <<: *build_template_epub
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-quickinstall-manual

# # - pdf build jobs -
# de-pdf-getting-started-v4.2:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-getting-started-v4.2

# en-pdf-getting-started-v4.2:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-getting-started-v4.2

# de-pdf-manual-v4.2:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-manual-v4.2

# en-pdf-manual-v4.2:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-manual-v4.2

# de-pdf-script-manual:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-script-manual

# en-pdf-script-manual:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-script-manual

# en-pdf-script-reference-card:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-script-reference-card

# de-pdf-releasenotes-v4.2:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-v4.2-releasenotes

# en-pdf-releasenotes-v4.2:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-v4.2-releasenotes

# de-pdf-supportmatrix:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-supportmatrix

# en-pdf-supportmatrix:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-supportmatrix

# de-pdf-mac-client-manual:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-mac-client-manual

# en-pdf-mac-client-manual:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-mac-client-manual

#de-pdf-linux-client-manual:
#  <<: *build_template_pdf
#  variables:
#    LANGUAGE: de
#    DOCUMENT: opsi-linux-client-manual


#de-pdf-windows-client-manual:
#  <<: *build_template_pdf
#  variables:
#    LANGUAGE: de
#    DOCUMENT: opsi-windows-client-manual


# de-pdf-quickinstall-manual:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: de
#     DOCUMENT: opsi-quickinstall-manual

# en-pdf-quickinstall-manual:
#   <<: *build_template_pdf
#   variables:
#     LANGUAGE: en
#     DOCUMENT: opsi-quickinstall-manual

# Packaging and renaming of documents
package_docs:
  stage: package
  before_script:
    - apt update
    - apt install -y python2
  script:
    - make publish
  artifacts:
    paths:
      - pub/
    expire_in: 7 days



publish_antora_docs:
  stage: publish
  before_script:
    - 'which ssh-agent || (apt update && apt install -y openssh-client)'
    - 'which rsync || (apt update && apt install -y rsync)'
    - mkdir -p ~/.ssh
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$DOCUSER_PRIVATE_KEY")
  script:
    - rsync -e "ssh -o StrictHostKeyChecking=no" --delete -azv build/bonifax/site/* "$DOCUSER@$DOCSERVER:/home/opsi/doc/opsidoc/antora/"
  only:
    - devel


# Publishing documentation to internal server
publish_docs:
  stage: publish
  before_script:
    - 'which ssh-agent || (apt update && apt install -y openssh-client)'
    - mkdir -p ~/.ssh
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$DOCUSER_PRIVATE_KEY")
  script:
    - scp -o StrictHostKeyChecking=no -r pub/* "$DOCUSER@$DOCSERVER:/home/opsi/doc/opsidoc/v4.2/"
  only:
    - stable


# Publishing documentation to external server
publish_docs_ext:
  stage: publish_ext
  when: manual
  before_script:
    - 'which ssh-agent || (apt update && apt -y install openssh-client)'
    - mkdir -p ~/.ssh
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$DOCUSER_PRIVATE_KEY")
  script:
    - scp -o StrictHostKeyChecking=no -r pub/* "$DOCUSER_EXT@$DOCSERVER_EXT:/var/www/opsi/htdocs/opsi4.2/$DOCTARGET/documentation/"
  only:
    - stable


publish_to_docs_opsi_org:
  stage: publish_ext
  when: manual
  before_script:
    - 'which ssh-agent || (apt update && apt -y install openssh-client)'
    - 'which rsync || (apt update && apt -y install rsync)'
    - mkdir -p ~/.ssh
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$BLOG_PUBLISH_PRIVATE_KEY")
  script:
    - rsync -e "ssh -o StrictHostKeyChecking=no" --delete -azv build/docs-opsi-org/site/* root@docker1.ext.uib.gmbh:/var/lib/docker/volumes/docs_nginx_data/_data/
  only:
    - stable
