<footer class="footer">
  <p>Copyright © 2023 uib GmbH, all rights reserved.
    <a href=https://www.opsi.org/metanav/imprint>Imprint</a>
    <a href=https://www.opsi.org/metanav/privacy-statement>Privacy statement</a>
  </p>
</footer>
