<footer class="footer">
  <p>Copyright © uib GmbH, all rights reserved.
    <a href=https://opsi.org/imprint/>Imprint</a>
    <a href=https://opsi.org/privacy-policy/>Privacy statement</a>
  </p>
</footer>
