
<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}"></a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://www.opsi.org">opsi.org</a>
        <a class="navbar-item" href="https://forum.opsi.org">forum.opsi.org</a>
        <a class="navbar-item" href="https://www.uib.de">uib.de</a>
      </div>
    </div>
  </nav>
</header>
