/* opsi styles */

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans Italic'),
    local('OpenSans-Italic'),
    url('../fonts/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans Bold Italic'),
    local('OpenSans-BoldItalic'),
    url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans SemiBold'),
    local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans ExtraBold Italic'),
    local('OpenSans-ExtraBoldItalic'),
    url('../fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans Light Italic'),
    local('OpenSans-LightItalic'),
    url('../fonts/OpenSans-LightItalic.woff2') format('woff2'),
    url('../fonts/OpenSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans SemiBold Italic'),
    local('OpenSans-SemiBoldItalic'),
    url('../fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans ExtraBold'),
    local('OpenSans-ExtraBold'),
    url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/OpenSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans Light'),
    local('OpenSans-Light'),
    url('../fonts/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Sans Mono';
  src:
    local('Droid Sans Mono'),
    local('DroidSansMono'),
    url('../fonts/DroidSansMono.woff2') format('woff2'),
    url('../fonts/DroidSansMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-opsi-magenta: #cb1e58;
  --color-opsi-magenta-10: #cb1e581f;
  --color-opsi-blue: #3f5aa6;
  --color-opsi-blue-10: #3f5aa61f;
  --color-gray-0: #f6f8fa;
  --color-smoke-80: #e4f4fd;
  --body-background: var(--color-gray-0);
  --panel-background: var(--color-white);
  --code-background: var(--color-smoke-50);
  --navbar-background: var(--color-opsi-magenta);
  --navbar_hover-background: var(--color-opsi-magenta);
  --footer-background: var(--color-jet-30);
  --heading-font-color: var(--color-opsi-magenta);
  --link-font-color: var(--color-opsi-magenta);
  --link_hover-font-color: var(--color-opsi-magenta);
  --link_unresolved-font-color: var(--color-opsi-magenta);
  --footer-font-color: var(--color-white);
  --doc-font-color: var(--color-jet-70);
  --toc-font-color: var(--color-jet-70);
  --toolbar-font-color: var(--color-jet-70);
  --toolbar-muted-color: var(--color-jet-70);
  --warning-color: #d32f2f;
  --caution-color: #d32f2f;
  --important-color: #e18114;
  --nav-highlight-selected: var(--color-opsi-blue-10);
  --nav-highlight-selected-border: var(--color-opsi-blue);
  --code-border-color: var(--color-gray-30);
  --body-font-size: 1rem;
  --body-font-size--desktop: 1rem;
  --body-font-family: "Open Sans", sans-serif;
  --body-font-weight-bold: 600;
  --monospace-font-family: "Droid Sans Mono", monospace;
  --box-border-radius: 0;
  --doc-margin--desktop: 2rem 1.5rem;
  --doc-max-width--desktop: calc(4000 / var(--rem-base) * 1rem);
  --navbar-height: calc(50 / var(--rem-base) * 1rem);
  --toc-width--widescreen: 20vw;
}

@media screen and (min-width: 1024px) {
  main > .content {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1216px) {
  .nav-container {
    width: 20vw;
    max-width: 320px;
  }
}

nav.navbar {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.nav-note {
  padding: 0.3rem 0.5rem;
}

.nav-bar-link {
  color: white;
  text-decoration: underline;
}

.nav-panel-menu {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

.nav-menu h3.title {
  font-size: 1.1rem;
}

.nav-menu {
  padding: 0;
}

.nav-list {
  list-style: none;
  margin: 0;
  display: block;
}

.nav-item {
  margin: 0;
}

.nav-item .nav-item-toggle {
  margin: 0.5rem 0 0 0.5rem;
}

.nav-item[data-depth="1"] .nav-list .nav-link {
  padding-left: 2.5rem;
}

.nav-item[data-depth="2"] .nav-list .nav-link {
  padding-left: 3.5rem;
}

.nav-item[data-depth="3"] .nav-list .nav-link {
  padding-left: 4.5rem;
}

.nav-item-toggle ~ .nav-list {
  padding-bottom: 0.125rem;
}

.is-current-page > .nav-link,
.is-current-page > .nav-item-toggle > .nav-link {
  font-weight: normal;
  background-color: var(--nav-highlight-selected);
  border-left-color: var(--nav-highlight-selected-border);
}

.nav-menu a,
.nav-menu .nav-text {
  display: block;
  border-left: 3px solid transparent;
  padding: 0.5rem 1.5rem;
}

.nav-menu a:hover {
  background-color: var(--nav-highlight-selected);
  text-decoration: none;
}

.doc {
  background-color: var(--color-white);
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  padding: 0.01rem 2rem 4rem;
}

.doc pre.highlight code,
.doc .listingblock pre:not(.highlight),
.doc .literalblock pre {
  background: var(--code-background);
}

.doc .admonitionblock.caution {
  border: 1px solid var(--caution-color);
  border-radius: var(--box-border-radius);
}

.doc .admonitionblock.important {
  border: 1px solid var(--important-color);
  border-radius: var(--box-border-radius);
}

.doc .admonitionblock.note {
  border: 1px solid var(--note-color);
  border-radius: var(--box-border-radius);
}

.doc .admonitionblock.tip {
  border: 1px solid var(--tip-color);
  border-radius: var(--box-border-radius);
}

.doc .admonitionblock.warning {
  border: 1px solid var(--warning-color);
  border-radius: var(--box-border-radius);
}

.doc .listingblock > .content {
  border: 1px solid var(--code-border-color);
  border-radius: var(--box-border-radius);
}

.doc .literalblock > .content {
  border: 1px solid var(--code-border-color);
  border-radius: var(--box-border-radius);
}

.doc .exampleblock > .content,
.doc details.result > .content {
  border: 1px solid var(--code-border-color);
  border-radius: var(--box-border-radius);
}

.doc .sidebarblock {
  border: 1px solid var(--code-border-color);
  border-radius: var(--box-border-radius);
}

#search-input {
  width: 100%;
  padding: 0.2rem 0.25rem 0.2rem 0.25rem;
  font-size: calc(15 / var(--rem-base) * 1rem);
  color: var(--toolbar-font-color);
  border: 1px solid var(--color-gray-30);
  border-radius: var(--box-border-radius);
}

#search-input:disabled {
  background-color: var(--color-smoke-10);
  /* disable cursor */
  cursor: not-allowed;
  pointer-events: all !important;
}

#search-input:disabled::placeholder {
  color: var(--color-gray-30);
}

#search-input:focus {
  outline: none;
}

.footer a {
  padding-left: 5em;
  color: #fff;
  text-decoration: underline;
}
