/*
color scheme
#6EA0C5 blue
#4D4D4D grey
#B42554 opsi logo red
*/

.deck-current p, .div.content pre {padding-left: .8em;}
a.deck-next-link:hover, 
a.deck-prev-link:hover 
{ background-color: #B42554!important; }

.deck-container {
  font-family: Tahoma, Arial, "Helvetica Neue", sans-serif;
  font-size: 2em;

}

.deck-container .slide {
  background: #efefef;
  background-image: linear-gradient(to top left, #9da8bf, #efefef);
  background: -moz-linear-gradient(top left, #9da8bf, #efefef);
  background: -webkit-linear-gradient(top left, #9da8bf, #efefef);
  background: -o-linear-gradient(top left, #9da8bf, #efefef);
  background: -ms-linear-gradient(top left, #9da8bf, #efefef);
}

.deck-container .slide h1 {
  color: #000;
  background-color: #6EA0C5;
}

.deck-container .slide h2 {
  color: #6EA0C5;
  border-top: 5px solid  #B42554;
  border-bottom-color:#6EA0C5;
  background: white url("logo_rechts.png") no-repeat right center;
  font-size: 1.4em;
  letter-spacing: .2em;
  padding-right: 1.8em;
  padding-bottom: 10px;
  padding-top:15px;
}

h2:before {
	content: url("logo_links.png");
	padding-right: 40px;
}

#title-slide h3 {
  color: #6EA0C5;
  border-top: 5px solid  #B42554;
  border-bottom:3px solid #6EA0C5;
  background: white url("logo_rechts.png") no-repeat right center;
  font-size: 1.4em;
  letter-spacing: .2em;
  padding-right: 1.8em;
  padding-bottom: 10px;
  margin-left: 0px;
  padding-left:0px;
  padding-top:15px;
}

#title-slide h3:before {
	content: url("logo_links.png");
	padding-right: 40px;
}

h4 { padding-left: .8em!important}

/*.deck-child-current, .deck-current, deck-next, .deck-after, .deck-previous, .deck-child-next {*/
li.deck-previous,li.deck-before, li.deck-next, li.deck-after,li.deck-current { background: transparent!important}


.deck-container .slide h3 {
  color: white;
  background-color:#6EA0C5;
  padding-left: .8em;
  padding-top: 10px;
  font-size: 1.2em;
  font-weight: normal;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.deck-container .slide pre {
  border-color: #ccc;
  padding-left: 1em;
}
p {  padding-left: 1em;} 

.deck-container .slide code {
  color: darkred;
}
.deck-container .slide blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #ccc;
}
.deck-container .slide blockquote p {
  margin: 0;
}
.deck-container .slide blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}
.deck-container .slide ::-moz-selection {
  background: #c00;
  color: #fff;
}
.deck-container .slide ::selection {
  background: #c00;
  color: #fff;
}
.deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
  color: #c00;
  text-decoration: none;
}
.deck-container .slide a:hover, .deck-container .slide a:focus {
  text-decoration: underline;
}
.deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
  opacity: 0.4;
}
.deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
.deck-container > .slide .deck-child-current {
  opacity: 1;
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #ccc;
  font-family: serif;
}
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #fff;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  background: #c00;
  text-decoration: none;
}
.deck-container .deck-status {
  font-size: 0.6666em;
}
.deck-container.deck-menu .slide {
  background: #eee;
}
.deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
  background: #ddf;
}
.deck-container footer, .deck-container header {color: red; background-color: blue; heigth: 20pt;}